server:
  port: 8080
  address: 0.0.0.0
app:
  api-prefix: /api/v1
  jwt:
    secret: gK3jTJtK1e9dWsMLPVojKM+7E1qZ9jMUBhiAJYA6I3SjGFjdzzvIQg6Cq+vQCipm
    expiration-ms: 86400000
  service-prefix:
    quiz: /quiz
    payment: /payment
    premium: /premium
    mindmap: /mindmap
    identity: /identity
    documents: /documents
    vector: /vector
    ai: /ai
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            # 8801
            - id: quiz-service
              uri: lb://quiz-service
              predicates:
                - Path=${app.api-prefix}${app.service-prefix.quiz}/**
              filters:
                - RewritePath=${app.api-prefix}${app.service-prefix.quiz}/(?<segment>.*), /${segment}

            # 8802
            - id: payment-service
              uri: lb://payment-service
              predicates:
                - Path=${app.api-prefix}${app.service-prefix.payment}/**
              filters:
                - StripPrefix=2
            #8803
            - id: premium-service
              uri: lb://premium-service
              predicates:
                - Path=${app.api-prefix}${app.service-prefix.premium}/**
              filters:
                - RewritePath=${app.api-prefix}/(?<segment>.*), /${segment}

            # 8804
            - id: mind-map-service
              uri: lb://mindmapservice
              predicates:
                - Path=${app.api-prefix}${app.service-prefix.mindmap}/**
              filters:
                - RewritePath=${app.api-prefix}${app.service-prefix.mindmap}/(?<segment>.*), /${segment}

            #8805
            - id: identity-service
              uri: lb://identity-service
              predicates:
                - Path=${app.api-prefix}${app.service-prefix.identity}/**
              filters:
                - RewritePath=${app.api-prefix}${app.service-prefix.identity}/(?<segment>.*), /${segment}

            # 8806
            - id: ownership-service
              uri: lb://ownership-service
              predicates:
                - Path=${app.api-prefix}/ownership/**
              filters:
                - RewritePath=${app.api-prefix}/ownership/(?<segment>.*), /${segment}

            # 8807
            - id: ai-service
              uri: lb://ai-service
              predicates:
                - Path=${app.api-prefix}${app.service-prefix.ai}/**
              filters:
                - RewritePath=${app.api-prefix}${app.service-prefix.ai}/(?<segment>.*), /${segment}
            # 8808
            - id: document-service
              uri: lb://document-service
              predicates:
                - Path=${app.api-prefix}${app.service-prefix.documents}/**
              filters:
                - RewritePath=${app.api-prefix}${app.service-prefix.documents}/(?<segment>.*), /${segment}
            # 8809
            - id: vector-service
              uri: lb://vector-service
              predicates:
                - Path=${app.api-prefix}${app.service-prefix.vector}/**
              filters:
                - RewritePath=${app.api-prefix}${app.service-prefix.vector}/(?<segment>.*), /${segment}



springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    urls:
      - name: quiz-service
        url: ${app.api-prefix}${app.service-prefix.quiz}/v3/api-docs
      - name: mind-map-service
        url: ${app.api-prefix}${app.service-prefix.mindmap}/v3/api-docs
      - name: identity-service
        url: ${app.api-prefix}${app.service-prefix.identity}/v3/api-docs
      - name: ownership-service
        url: ${app.api-prefix}/ownership/v3/api-docs
      - name: ai-service
        url: ${app.api-prefix}${app.service-prefix.ai}/v3/api-docs
      - name: document-service
        url: ${app.api-prefix}${app.service-prefix.documents}/v3/api-docs
      - name: vector-service
        url: ${app.api-prefix}${app.service-prefix.vector}/v3/api-docs
    config-url: /v3/api-docs/swagger-config
    path: /swagger-ui.html
eureka:
  client:
    service-url:
      defaultZone: http://eureka:123456@localhost:8761/eureka