server:
  port: 8088

spring:
  application:
    name: document-service

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/documentService
#    username: root
#    password: StrongP@ssword123
    username: "postgres"
    password: "12345678"

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  servlet:
    multipart:
      enabled: true
      max-file-size: 20MB
      max-request-size: 20MB

vector:
  service:
    url: ${VECTOR_SERVICE_URL:http://localhost:8089}

document:
  chunk:
    size: 500
    overlap: 50

eureka:
  client:
    service-url:
      defaultZone: http://eureka:123456@localhost:8761/eureka

gateway:
  secret: 4391D97158194

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  prometheus:
    metrics:
      export:
        enabled: true
