eureka:
  client:
    fetch-registry: 'false'
    register-with-eureka: 'false'
spring:
  application:
    name: eureka-server
  security:
    user:
      name: eureka
      password: 123456
server:
  port: '8761'

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  prometheus:
    metrics:
      export:
        enabled: true
