spring:
  application:
    name: premium-service

  datasource:
    url: jdbc:h2:mem:premiumdb
    username: sa
    password: ""

  jpa:
    hibernate:
      ddl-auto: update

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8803

eureka:
  client:
    service-url:
      defaultZone: http://eureka:123456@localhost:8761/eureka
gateway:
  secret: 4391D97158194

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  prometheus:
    metrics:
      export:
        enabled: true



